.git/**
.github/**
.vscode/**
.vscode-test/**

src/**
test/**
coverage/**
dist/**
tmp/**

*.vsix
*.log
*.tsbuildinfo

.DS_Store
**/.DS_Store
.env
.env.*
.history/**
.idea/**

.gitignore
eslint.config.mjs
tsconfig.json
vscode-test.config.js
