node_modules
.vscode-test/
*.vsix
out/
.DS_Store
**/.DS_Store
.vscode/settings.json
.vscode/**
.vscode-test/**
.github/**
.git/**
test/**
src/**
**/.DS_Store
*.vsix
package-lock.json
eslint.config.mjs
vscode-test.config.js
.gitignore
.yarnrc
.npmrc
.env
.env.*
.history/**
.idea/**
.DS_Store
coverage/**
dist/**
tmp/**
*.log
*.tsbuildinfo
**/*.pem
**/*.key
**/*.crt
**/*.p12
**/*secret*
**/*token*
vsc-extension-quickstart.md
**/jsconfig.json
**/tsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*